.navbar{
    background-color: #51adcf;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;

}

a{
    text-decoration: none;
    color: inherit;
}